@font-face {
  font-family: 'FredokaOne-Regular';
  src: url('FredokaOne-Regular.ttf');
}

body{
  margin: 0;
  padding: 0;
  font-family: FredokaOne-Regular;
  color: #26A65B;
  text-align: center;
  user-select : none;
  font-size: 1.5em;
  overflow: hidden;
}

#canvas{
  position: absolute;
  color: pink;
  top: 0;
  left: 0;
}

#ihm{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


button {
	font-family: FredokaOne-Regular, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 8px 20px;
	background: -moz-linear-gradient(top,#ededed 0%,#1aa12e 4%,#16780d 49%,#145706);
	background: -webkit-gradient(linear, left top, left bottom,from(#ededed),color-stop(0.4, #1aa12e),color-stop(0.49, #16780d),	to(#145706));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 2px solid #0d7525;
	-moz-box-shadow:
		2px 3px 3px rgba(0,0,0,0.5),
		inset 1px -1px 8px rgba(66,166,101,1);
	-webkit-box-shadow:
		2px 3px 3px rgba(0,0,0,0.5),
		inset 1px -1px 8px rgba(66,166,101,1);
	box-shadow:
		2px 3px 3px rgba(0,0,0,0.5),
		inset 1px -1px 8px rgba(66,166,101,1);
	text-shadow:
		0px -1px 0px rgba(17,31,24,0),
		0px 0px 0px rgba(255,255,255,0.2);
    display: block;
    margin: auto;

}
/* ************Menu Pricipal************* */

#menuPrincipal{
background-color: black;
width: 100%;
height: 100%;
}

#btn0 {

  margin-right: inherit;


}


/* ************** atelier **************/
#atelier {
  background-color: black;
  width: 100%;
  height: 100%;
}


#atelier #divA {
  margin-right: inherit;
}

/* ************** lecon **************/

#VueLecon {
  background-color: black;
  width: 100%;
  height: 100%;
}

iframe {
  height: 90%;
  width: 100%;
}
