@font-face {
  font-family: 'FredokaOne-Regular';
  src: url('FredokaOne-Regular.ttf');
}

body{
  margin: 0;
  padding: 0;
  font-family: FredokaOne-Regular;
  color: #26A65B;
  text-align: center;
  user-select : none;
  font-size: 1.5em;
  overflow: hidden;
  image-rendering: pixelated;
}

#canvas{
  position: absolute;
  color: pink;
  top: 0;
  left: 0;
}

#ihm{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*TEST EFFET RIPPLE PAUSE IHM*/
#pause {
  /*background-color: black;*/
  width: 100%;
  height: 100%;
 }
/* .ihmPause:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.ihmPause:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
} */
/**/

button {
	font-family: FredokaOne-Regular, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 8px 20px;
 /* background: -moz-linear-gradientRunner(top,#ededed 0%,#1aa12e 4%,#16780d 49%,#145706); */
	background: -webkit-gradient(linear, left top, left bottom,from(#ededed),color-stop(0.4, #1aa12e),color-stop(0.49, #16780d),	to(#145706));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 2px solid #0d7525;
	-moz-box-shadow:
		2px 3px 3px rgba(0,0,0,0.5),
		inset 1px -1px 8px rgba(66,166,101,1);
	-webkit-box-shadow:
		2px 3px 3px rgba(0,0,0,0.5),
		inset 1px -1px 8px rgba(66,166,101,1);
	box-shadow:
		2px 3px 3px rgba(0,0,0,0.5),
		inset 1px -1px 8px rgba(66,166,101,1);
	text-shadow:
		0px -1px 0px rgba(17,31,24,0),
		0px 0px 0px rgba(255,255,255,0.2);
    display:block;
    margin:auto;
    margin-bottom:  2%;

}

button:active {
  color: green;
  background: white;
  transform: translateY(4px);
}

.btnInactif {
  display: none;
}

/* ************Menu Principal************* */

#menuPrincipal{
  background-color: black;
  background-image: url("../textures/Ecran_accueil.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#btnHD {
  margin-right: 10px;
}

/* ************** Atelier **************/

#atelier {
  background-color: black;
  width: 100%;
  height: 100%;
}

#perso_choisi {
  width: 60%;
  height: 40%;
}

select {


}


/* ************** lecons **************/
/* Peut être mettre les boutons dans un conteneur mais les btns sont un seul et même div.. Réfléchis.. */
#VueLecons  {
  background-color: #B0E0E6;
  width: 100%;
  height: 100%;
}

#VueLecons #btnL {
  background: -webkit-gradient(		linear, left top, left bottom,		from(#90EE90),		to(#003366));
  border: 2px solid #2E8B57;
  margin-bottom: 0%;
  margin : inherit;
  display: inline-block;
}

#VueLecons #divL {
  height: 100%;
  overflow: scroll;
  overflow-y:auto;
}



/******************** Lecon ****************/
#VueLecon {
  width: 100%;
  height: 100%;
  background-color:  #90EE90;
}

 iframe {
  height: 90%;
  width: 100%;
}

/* ************** Runner **************/

#pauseRunner {
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;

  background-image: url("../textures/IconPause.png");

  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: none;
  padding: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  -moz-box-shadow:
    none;
  -webkit-box-shadow:
    none;
  box-shadow:
    none;
  text-shadow:
    none;
}

#pauseRunner:active {
  color: none;
  background: none;
  background-image: url("../textures/IconPause.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: none;
}

#imagePiece {
  display: inline-block;
  width: 40px;
  height: 40px;
}

#imagePotion {
  display: inline-block;
  width: 40px;
  height: 40px;
}

#nbPotion {
  display: inline-block;
}

#score {
  display: inline-block;
}
